<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="bootstrap.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    executionOrder="defects"
    requireCoverageMetadata="true"
>
  <testsuites>
    <testsuite name="Main">
      <directory prefix="Test" suffix=".php">./cases</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <source>
    <include>
      <directory suffix=".php">../lib</directory>
    </include>
  </source>
</phpunit>
